body{
  width: 100vw;
  height: 100vh;

  margin: 0;
}
#root {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.app{
  width: 100%;
  height: 100%;
  border: 2px solid grey;

  position: relative;

  .header{

    position: relative;
    top: 0;

  }
  .main{

  }
  .footer{

    position: absolute;
    bottom: 0;

  }
}

@import './components/Header/Header.scss';
@import './components/Main/Main.scss';
@import './components/Footer/Footer.scss';
