$color1: #3498db;
$color2: #2ecc71;
$color3: #2ecc71;
$color4: #2ecc71;

$font-fam1: 'Helvetica, Arial, sans-serif';
$font-fam2: 'Helvetica, Arial, sans-serif';

$font-size1: 1rem;
$font-size2: 1.2rem;

body{
    width: 100vw;
    height: 100vh;
    margin: 0;
}

#root {
    width: 100%;
    height: 100%;
    margin: 0;
}

@import './layout/layout.scss';
