
.history{
    width: 400px;
    margin: auto;

    border-radius: 5px;
    display: flex;
    flex-direction: column;


    p{
        height: 30px;
        margin: 0;

        font-size: 1rem;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

}