*{
    justify-content: ;
    border: 2px solid #0d1625d2;
    border: 2px solid #28412c;
    border: 2px solid hsla(219, 49%, 47%, 0);
    border: 2px solid #ff00007a;
    border: 2px solid #314a7783;
}

