.main{
    width: 600px;
    height: auto;
    margin: auto;
    padding: 20px;
    background-color: rgb(232, 232, 232);

    form{
        width: 400px;
        margin: auto;
        padding: 10px;

        border: 4px solid rgba(35, 59, 94, 0.175);
        border-radius: 5px;
        display: flex;
        flex-direction: column;

        h2{
            text-align: center;
        }

        input, select, option{
            height: 30px;
            border: 0.5px solid grey;

            font-size: 1.3rem;
            font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }

    }
}

@import '../../components/Account/account.scss';
@import '../../components/Wallet/wallet.scss';
@import '../../components/Explorer/explorer.scss';